# Build Folders
bin
obj

# settings
*.suo

# NuGet
/packages

# mstest test results
TestResults

# JetBrains products
_ReSharper*
_TeamCity*

# Project Specific
Build.Security.Certificate.Tests/Output/
